@import 'variable.scss';
main {
  min-height: 80vh;
  .rating span {
    margin: 0.1rem;
  }
  h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
  }
  h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
  }
  h3 {
    padding: 1rem 0;
  }
}

.btnFacebook {
  width: 165px;
  height:35px;
  border-radius: 4px;
  background: #3b5998;
  color:white;
  border:0px transparent;
  text-align: center;
  margin:5px;
  display: inline-block;
}
.btnGoogle {
  margin:5px;
  // width: 165px;
  height:35px;
  border-radius: 4px;
  background: #db3236;
  color:white;
  border:2px solid red;
  text-align: center;
}
.btnFacebook:hover {
  background: #3b5998;
  opacity: 0.6;
}
.btnGoogle:hover {
  background: #db3236;
  opacity: 0.6;
}



/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}
.carousel a {
  margin: a auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
